<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Number</Data></Cell>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Short Name</Data></Cell>
        <Cell><Data ss:Type="String">Start Time</Data></Cell>
      </Row>
      <% @teams.each do |team| %>
        <Row>
          <Cell><Data ss:Type="Number"><%= team.id %></Data></Cell>
          <Cell><Data ss:Type="Number"><%= team.number%></Data></Cell>
          <Cell><Data ss:Type="String"><%= team.name%></Data></Cell>
          <Cell><Data ss:Type="String"><%= team.short_name%></Data></Cell>
          <Cell><Data ss:Type="String"><%= team.start_time%></Data></Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
