<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @team.number %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @team.short_name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @team.start_time %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
