<p>
  <b>Number:</b>
  <%=h @team.number %>
</p>

<p>
  <b>Short Name:</b>
  <%=h @team.short_name %>
</p>

<p>
  <b>Name:</b>
  <%=h @team.name %>
</p>

<p>
  <b>Start Time:</b>
  <%=h @team.start_time %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>