<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @team.number %>
</p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Short name:</b>
  <%= @team.short_name %>
</p>

<p>
  <b>Start time:</b>
  <%= @team.start_time %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
