<p id="notice"><%= notice %></p>

<p>
  <strong>Short code:</strong>
  <%= @support_type.short_code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @support_type.description %>
</p>

<%= link_to 'Edit', edit_support_type_path(@support_type) %> |
<%= link_to 'Back', support_types_path %>
