<p id="notice"><%= notice %></p>

<p>
  <b>Short code:</b>
  <%= @support_type.short_code %>
</p>

<p>
  <b>Description:</b>
  <%= @support_type.description %>
</p>


<%= link_to 'Edit', edit_support_type_path(@support_type) %> |
<%= link_to 'Back', support_types_path %>
