<h1>Editing support_unit</h1>

<% form_for(@support_unit) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :team_id %><br />
    <%= f.collection_select (:team_id, Team.find(:all), :id, :short_name, :prompt => "Team") %>
  </p>
  <p>
    <%= f.label :support_type_id %><br />
    <%= f.collection_select (:support_type_id, SupportType.find(:all), :id, :short_code, :prompt => "Type") %>
  </p>
  <p>
    <%= f.label :tac_callsign %><br />
    <%= f.text_field :tac_callsign %>
  </p>
  <p>
    <%= f.label :ham_callsign %><br />
    <%= f.text_field :ham_callsign %>
  </p>
  <p>
    <%= f.label :status_code_id %><br />
    <%= f.collection_select (:support_status_code_id, SupportStatusCode.find(:all, :order=>:sequence), :id, :short_code, :prompt => "Status") %>
  </p>
  <p>
    <%= f.label :current_stage_id %><br />
    <%= f.collection_select (:current_stage_id, Stage.find(:all, :order=>:number), :id, :number, :prompt => "Stage") %>
  </p>
  <p>
    <%= f.label :location_lat %><br />
    <%= f.text_field :location_lat %>
  </p>
  <p>
    <%= f.label :location_lon %><br />
    <%= f.text_field :location_lon %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @support_unit %> |
<%= link_to 'Back', support_units_path %>