<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @support_unit.team_id %>
</p>

<p>
  <strong>Support type:</strong>
  <%= @support_unit.support_type_id %>
</p>

<p>
  <strong>Tac callsign:</strong>
  <%= @support_unit.tac_callsign %>
</p>

<p>
  <strong>Ham callsign:</strong>
  <%= @support_unit.ham_callsign %>
</p>

<p>
  <strong>Support status code:</strong>
  <%= @support_unit.support_status_code_id %>
</p>

<p>
  <strong>Current stage:</strong>
  <%= @support_unit.current_stage_id %>
</p>

<p>
  <strong>Location lat:</strong>
  <%= @support_unit.location_lat %>
</p>

<p>
  <strong>Location lon:</strong>
  <%= @support_unit.location_lon %>
</p>

<%= link_to 'Edit', edit_support_unit_path(@support_unit) %> |
<%= link_to 'Back', support_units_path %>
