<h1>Listing blogs</h1>

<table>
  <tr>
    <th>Team</th>
    <th>Host url</th>
    <th>Access path</th>
    <th>Blog url</th>
    <th>Results url</th>
    <th>Access url</th>
    <th>Username</th>
    <th>Password</th>
    <th>Blog number</th>
    <th>Results post number</th>
    <th>Category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.team_id %></td>
    <td><%= blog.host_url %></td>
    <td><%= blog.access_path %></td>
    <td><%= blog.blog_url %></td>
    <td><%= blog.results_url %></td>
    <td><%= blog.access_url %></td>
    <td><%= blog.username %></td>
    <td><%= blog.password %></td>
    <td><%= blog.blog_number %></td>
    <td><%= blog.results_post_number %></td>
    <td><%= blog.category %></td>
    <td><%= link_to 'Show', blog %></td>
    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
    <td><%= link_to 'Destroy', blog, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blog', new_blog_path %>
