<p id="notice"><%= notice %></p>

<p>
  <b>Team:</b>
  <%= @blog.team_id %>
</p>

<p>
  <b>Host url:</b>
  <%= @blog.host_url %>
</p>

<p>
  <b>Access path:</b>
  <%= @blog.access_path %>
</p>

<p>
  <b>Blog url:</b>
  <%= @blog.blog_url %>
</p>

<p>
  <b>Results url:</b>
  <%= @blog.results_url %>
</p>

<p>
  <b>Access url:</b>
  <%= @blog.access_url %>
</p>

<p>
  <b>Username:</b>
  <%= @blog.username %>
</p>

<p>
  <b>Password:</b>
  <%= @blog.password %>
</p>

<p>
  <b>Blog number:</b>
  <%= @blog.blog_number %>
</p>

<p>
  <b>Results post number:</b>
  <%= @blog.results_post_number %>
</p>

<p>
  <b>Category:</b>
  <%= @blog.category %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
