<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @blog.team_id %>
</p>

<p>
  <strong>Host url:</strong>
  <%= @blog.host_url %>
</p>

<p>
  <strong>Access path:</strong>
  <%= @blog.access_path %>
</p>

<p>
  <strong>Blog url:</strong>
  <%= @blog.blog_url %>
</p>

<p>
  <strong>Results url:</strong>
  <%= @blog.results_url %>
</p>

<p>
  <strong>Access url:</strong>
  <%= @blog.access_url %>
</p>

<p>
  <strong>Username:</strong>
  <%= @blog.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @blog.password %>
</p>

<p>
  <strong>Blog number:</strong>
  <%= @blog.blog_number %>
</p>

<p>
  <strong>Results post number:</strong>
  <%= @blog.results_post_number %>
</p>

<p>
  <strong>Category:</strong>
  <%= @blog.category %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
