<%= form_for(@runner) do |f| %>
  <% if @runner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@runner.errors.count, "error") %> prohibited this runner from being saved:</h2>

      <ul>
      <% @runner.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_id %><br />
    <%= f.collection_select( :team_id, Team.find(:all), :id, :short_name ) %>
  </div>
  <div class="field">
    <%= f.label :stage_id %><br />
    <%= f.collection_select( :stage_id, Stage.find(:all, :order=>:number), :id, :number ) %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :estimated_pace %><br />
    <%= f.text_field :estimated_pace_formatted %>
  </div>
  <div class="field">
    <%= f.label :completed %><br />
    <%= f.check_box :completed %>
  </div>
  <div class="field">
    <%= f.label :actual_time %><br />
    <%= f.text_field :actual_time_formatted %>
  </div>
  <div class="field">
    <%= f.label :runner_status_code_id %><br />
    <%= f.collection_select( :runner_status_code_id, RunnerStatusCode.find(:all, :order => :sequence), :id, :short_code ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
