<h1>Editing runner</h1>

<% form_for(@runner) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :team_id %><br />
    <%= f.collection_select (:team_id, Team.find(:all), :id, :short_name, :prompt => "Team") %>
  </p>
  <p>
    <%= f.label :stage_id %><br />
    <%= f.text_field :stage_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :estimated_pace %><br />
    <%= f.text_field :estimated_pace_formatted %>
  </p>
  <p>
    <%= f.label :completed %><br />
    <%= f.check_box :completed %>
  </p>
  <p>
    <%= f.label :actual_time %><br />
    <%= f.text_field :actual_time_formatted %>
  </p>
  <p>
    <%= f.label :runner_status_code_id %><br />
    <%= f.collection_select (:runner_status_code_id, RunnerStatusCode.find(:all), :id, :short_code, :prompt => "Status") %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @runner %> |
<%= link_to 'Back', runners_path %>