<h1>Listing runners</h1>

<table>
  <thead>
    <tr>
      <th>Stage</th>
      <th>Team</th>
      <th>Runner status code</th>
      <th>Name</th>
      <th>Estimated pace</th>
      <th>Completed</th>
      <th>Actual time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @runners.each do |runner| %>
      <tr>
        <td><%= runner.stage.number if runner.stage_id != nil %></td>
        <td><%= runner.team.number %></td>
        <td><%= runner.runner_status_code.short_code %></td>
        <td><%= runner.name %></td>
        <td><%= runner.estimated_pace.strftime("%M:%S") %></td>
        <td><%= runner.completed ? 'Yes' : 'No' %></td>
        <td>
          <% if runner.actual_time != nil %>
            <%= runner.actual_time.strftime("%H:%M:%S") %>
          <% end %>
        </td>
        <td><%= link_to 'Show', runner %></td>
        <td><%= link_to 'Edit', edit_runner_path(runner) %></td>
        <td><%= link_to 'Destroy', runner, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  Download:
  <%= link_to "CSV", runners_path(format: "csv") %> |
  <%= link_to "Excel", runners_path(format: "xls") %>
</p>
<br>

<%= link_to 'New Runner', new_runner_path %>
