<p id="notice"><%= notice %></p>

<p>
  <b>Team:</b>
  <%= @runner.team.short_name %>
</p>

<p>
  <b>Stage:</b>
  <%= @runner.stage.number %> (<%= @runner.stage.landmark %>)
</p>

<p>
  <b>Name:</b>
  <%= @runner.name %>
</p>

<p>
  <b>Estimated pace:</b>
  <%= @runner.estimated_pace_formatted %>
</p>

<p>
  <b>Completed:</b>
  <%= @runner.completed %>
</p>

<p>
  <b>Actual time:</b>
  <%=h @runner.actual_time_formatted %>
</p>

<p>
  <b>Runner status code:</b>
  <%= @runner.runner_status_code.description %>
</p>

<p>
  <b>Actual time:</b>
  <%= @runner.actual_time %>
</p>


<%= link_to 'Edit', edit_runner_path(@runner) %> |
<%= link_to 'Back', runners_path %>
