<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @runner.team.short_name %>
</p>

<p>
  <strong>Stage:</strong>
  <% unless @runner.stage.nil? %>
    <%= @runner.stage.number %> (<%= @runner.stage.landmark %>)
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @runner.name %>
</p>

<p>
  <strong>Estimated pace:</strong>
  <%= @runner.estimated_pace_formatted %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @runner.completed %>
</p>

<p>
  <strong>Actual time:</strong>
  <%=h @runner.actual_time_formatted %>
</p>

<p>
  <strong>Runner status code:</strong>
  <%= @runner.runner_status_code.description %>
</p>

<p>
  <strong>Actual time:</strong>
  <%= @runner.actual_time %>
</p>

<%= link_to 'Edit', edit_runner_path(@runner) %> |
<%= link_to 'Back', runners_path %>
