<div id="stage_table">
  <%= Time.now().strftime ("Updated: %m/%d/%Y %H:%M:%S") %>

  <table border=1>
    <tr>
      <th width=50>Stage</th>
      <th>Landmark</th>
      <th>Distance</th>
      <th>Rating</th>
      <% if user_signed_in? %>
        <th width=100>Runner</th>
      <% end %>
      <th>Est Pace</th>
      <th>Est Time</th>
      <th width=65>Actual</th>
      <th width=75>Difference</th>
      <th>Est Start<br />Updated</th>
    </tr>

  <% @runners.each do |runner| %>
    <% @results.calculate_stage_results (runner) %>
    <tr>
      <td align='center'><%=h runner.stage.number %></td>
      <td><%=h runner.stage.landmark %></td>
      <td align='center'><%=h runner.stage.miles %></td>
      <td align='center'><%=h runner.stage.difficulty %></td>
      <% if user_signed_in? %>
        <td><%=h runner.name %></td>
      <% end %>
      <td align='right'><%= show_short_time runner.estimated_pace %></td>
      <td align='right'><%= minutes_as_short_time @results.estimated_minutes %> </td>
      <td align='right'>
          <% if runner.actual_time.to_i != @results.time_zero %>
              <%=h show_short_time runner.actual_time %>
          <% end %>
      </td>
      <td align='right'>
          <% if runner.actual_time.to_i != @results.time_zero %>
              <%=h signed_minutes_to_time @results.off_pace %>
          <% end %>
      </td>
      <td align='right'>
      <%= show_local_time @results.stage_start %>
      </td>
    </tr>
  <% end %>
    <tr>
    <% if user_signed_in? %>
      <td colspan='6'></td>
    <% else %>
      <td colspan='5'></td>
    <% end %>
    <td align='right'><%=h minutes_as_short_time @results.total_estimated_minutes %></td>
    <td align='right'><%=h minutes_as_short_time @results.total_minutes %></td>
    <td align='right'><%=h minutes_as_short_time @results.total_off_pace %></td>
    <td align='right'><%=h show_local_time @results.stage_finish %></td>
    </tr>
  </table>
</div>
