<h1>Stage Results</h1>

<table border>
  <tr>
    <th>Number</th>
    <th>Landmark</th>
    <th>Miles</th>
    <th>Runner</th>
    <th>Est Pace</th>
    <th>Estimated</th>
    <th>Actual</th>
    <th>Difference</th>
  </tr>

<% total_time = 0 %>
<% total_estimated_time = Time.parse("0:0:0") %>
<% total_off_pace = 0 %>
<% @runners.each do |runner| %>
  <% estimated_stage_time = runner.stage.miles * (runner.estimated_pace.min + runner.estimated_pace.sec/60.0) %>
  <% total_estimated_time = total_estimated_time + estimated_stage_time %>
  <% stage_time = 0 %>
  <% total_time = total_time + stage_time %>
  <% off_pace = total_time %>
  <% total_off_pace = total_off_pace + off_pace %>
  <tr>
    <td><%=h runner.stage.number %></td>
    <td><%=h runner.stage.landmark %></td>
    <td><%=h runner.stage.miles %></td>
    <td><%=h runner.name %></td>
    <td><%=h runner.estimated_pace.strftime("%M:%S") %></td>
    <td><%=h '%02d' % estimated_stage_time %>:<%=h '%02d' % (60*(estimated_stage_time - estimated_stage_time.truncate)).round %></td>
    <td>
        <% if runner.actual_time != nil %>
        <%=h runner.actual_time.strftime("%H:%M:%S") %>
        <% end %>
    </td>
    <td></td>
  </tr>
<% end %>
  <tr>
  <td colspan='5'></td>
  <td><%=h total_estimated_time.strftime("%H:%M:%S") %></td>
  <td><%=h total_time %></td>
  <td><%=h total_off_pace %></td>
  </tr>
</table>

<br />