<h1>Stage Results</h1>

<table border>
  <tr>
    <th>Number</th>
    <th>Landmark</th>
    <th>Miles</th>
    <th>Runner</th>
    <th>Time</th>
    <th>Total</th>
    <th>Differential</th>
  </tr>

<% total_time = 0 %>
<% @runners.each do |runner| %>
  <% stage_time = runner.stage.miles * (runner.estimated_pace.min + runner.estimated_pace.sec/60.0) %>
  <% total_time = total_time + stage_time %>
  <tr>
    <td><%=h runner.stage.number %></td>
    <td><%=h runner.stage.landmark %></td>
    <td><%=h runner.stage.miles %></td>
    <td><%=h runner.name %></td>
    <td><%=h stage_time %></td>
    <td><%=h total_time %></td>
    <td></td>
  </tr>
<% end %>
</table>

<br />