<%= form_for(@stage_status) do |f| %>
  <% if @stage_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stage_status.errors.count, "error") %> prohibited this stage_status from being saved:</h2>

      <ul>
      <% @stage_status.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_id %><br />
    <%= f.collection_select( :team_id, Team.order("number").where("number > 0"), :id, :short_name, :prompt => "Team") %>
  </div>
  <div class="field">
    <%= f.label :stage_id %><br />
    <%= f.collection_select( :stage_id, Stage.order("number").where("number > 0"), :id, :number, :prompt => "Stage") %>
  </div>
  <div class="field">
    <%= f.label :runner_id %><br />
    <%= f.collection_select( :runner_id, Runner.order("name"), :id, :name, :prompt => "Runner") %>
  </div>
  <div class="field">
    <%= f.label :stage_status_code_id %><br />
    <%= f.collection_select( :stage_status_code_id, StageStatusCode.order(:sequence), :id, :description, :prompt => "Stage Status") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
