<%= form_for(:post, :url => { :action => "update_blog" }) do |f| %>
  <p>
    <%= f.label :team_id %> : 
    <%= f.collection_select( :team_id, Team.find(:all), :id, :short_name, :prompt => "Team", :selected => @team_id) %>
  <br />
    <%= f.label :title %> : 
    <%= f.text_field :title, :size => 80 %>
  <br />
    <%= f.label :content %> : 
    <%= f.text_area :content, :size => "80x4"%>
  <br />
    <%= f.label :publish %> : 
    <%= f.check_box :publish %>
  <br />
    <%= f.submit 'Post' %>
  </p>
<% end %>
