<% form_for(:post, :url => { :action => "update_blog" }) do |f| %>
  <%= f.error_messages %>

    <%= f.hidden_field :team_id, :value => @team_id %>

    <%= f.label :title %> : 
    <%= f.text_field :title, :size => 80 %>
  <br />
    <%= f.label :content %> : 
    <%= f.text_area :content, :size => "80x4"%>
  <br />
    <%= f.label :publish %> : 
    <%= f.check_box :publish %>
  <br />
    <%= f.submit 'Post' %>
  </p>
<% end %>