<%= render :partial => "status_table" %>

<%= form_for :team, :url => {:action => "change_team"} do |f| %>
<p>
  <%= f.collection_select(:id, Team.order("number").where("number > 0"), :id, :short_name,
    :prompt => "Select Team", :selected => @team_id ) %>
</p>
<% end %>

<hr />
<%= render :partial => "update_results" %>
<hr />
<%= render :partial => "update_blog" %>
<hr />

<%= link_to 'New stage_status', new_stage_status_path %>
