<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%=h @stage_status.team.name %>
</p>

<p>
  <strong>Stage:</strong>
  <%=h @stage_status.stage_number %>
</p>

<p>
  <strong>Runner:</strong>
  <%=h @stage_status.runner_name %>
</p>

<p>
  <strong>Support unit:</strong>
  <%=h @stage_status.tac_callsign %>
</p>

<p>
  <strong>Runner status code:</strong>
  <%=h @stage_status.runner_status %>
</p>

<p>
  <strong>Support status code:</strong>
  <%=h @stage_status.support_status %>
</p>

<p>
  <strong>Stage Ready:</strong>
  <%=h @stage_status.stage_status %>
</p>

<%= link_to 'Edit', edit_stage_status_path(@stage_status) %> |
<%= link_to 'Back', stage_statuses_path %>
