<div id="update_blog">
<% form_for(:blog) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %> : 
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %> : 
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :public %> : 
    <%= f.check_box :public %>
  </p>
  <p>
    <%= f.submit 'Post' %>
  </p>
<% end %>
</div>