<div id="update_blog">
<% form_for(:post, :url => { :action => "update_blog" }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :team_id %> : 
    <%= f.collection_select( :team_id, Team.find(:all), :id, :short_name, :prompt => "Team", :selected => @team_id) %>
  </p>
  <p>
    <%= f.label :title %> : 
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %> : 
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :publish %> : 
    <%= f.check_box :publish %>
  </p>
  <p>
    <%= f.submit 'Post' %>
  </p>
<% end %>
</div>