<% form_for(:runner) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :team_id %> : 
    <%= f.collection_select( :team_id, Team.find(:all), :id, :short_name, :prompt => "Team", :selected => @team_id ) %>
    <%= observe_field "runner_team_id", :update => "team_runners", :with => "update_team_id", :url => {:action => "update_team_runners"} %>
  <br />
    <%= f.label :stage_id %> : 
    <%= f.collection_select( :stage_id, @stages, :id, :number, :prompt => "Stage" ) %>
  <br />
    <%= f.label :runner_id %><br />
    <%= f.collection_select( :runner_id, @runners, :id, :name, :prompt => "Runner") %>
  <br />
    <%= f.label :completed %> : 
    <%= f.check_box :completed %>
  <br />
    <%= f.label :actual_time %> : 
    <%= f.text_field :actual_time_formatted %>
  <br />
    <%= f.label :runner_status_code_id %> : 
    <%= f.collection_select( :runner_status_code_id, RunnerStatusCode.find(:all, :order => :sequence), :id, :short_code, :prompt => "Status" ) %>
  <br />
    <%= f.label :runner_note %> : 
    <%= f.text_field :runner_note %>
  <br />
    <%= f.submit 'Update Runner Status' %>
  </p>
<% end %>
