<h1><%= @team_name %> Stage Status</h1>

<table border>
  <tr>
    <th>Stage</th>
    <th>Landmark</th>
    <th>Miles</th>
    <th>Difficulty</th>
    <th>Runner</th>
    <th>Estimated Start</th>
    <th>Support Unit</th>
    <th>Runner Status</th>
    <th>Support Status</th>
    <th>Stage Status</th>
    <th>Time</th>
  </tr>

<% @runners.each do |runner| %>
  <tr>
    <td align='center'><%=h runner.stage.number %></td>
    <td><%=h runner.stage.landmark %></td>
    <td align='center'><%=h runner.stage.miles %></td>
    <td align='center'><%=h runner.stage.difficulty %></td>
    <td><%=h runner.name %></td>
    <td align='center'>TBD</td>
    <td></td>
    <td align='center'><%=h runner.runner_status_code.short_code %></td>
    <td></td>
    <td></td>
    <td><%= runner.actual_time.strftime("%H:%M:%S") %></td>
  </tr>
<% end %>
</table>

<br />

<% form_for :team, :url => {:action => :change_team} do |f| %>
<p>
  <%= f.collection_select( :team_id, Team.find(:all), :id, :short_name, :prompt => "Select Team" ) %>
  <%= f.submit 'change_team' %>
</p>
<% end %>

