<div id="status_table">
<h1><%= @team_name %> Stage Status</h1>

<% form_for :team, :url => {:action => "change_team"} do |f| %>
<p>
  <%= f.collection_select( :team_id, Team.find(:all), :id, :short_name, :prompt => "Select Team", :selected => @team_id ) %>
  <%= observe_field "team_team_id", :update => "status_table", :with => "id", :url => { :action => "change_team" } %>
</p>
<% end %>

<table border>
  <tr>
    <th>Stage</th>
    <th>Landmark</th>
    <th>Miles</th>
    <th>Difficulty</th>
    <th>Runner</th>
    <th>Estimated<br/>Start</th>
    <th>Support </th>
    <th>Runner<br/>Status</th>
    <th>Support<br/>Status</th>
    <th>Stage<br/>Status</th>
    <th>Time</th>
  </tr>

<% @runners.each do |runner| %>
  <tr>
    <td align='center'><%=h runner.stage.number %></td>
    <td><%=h runner.stage.landmark %></td>
    <td align='center'><%=h runner.stage.miles %></td>
    <td align='center'><%=h runner.stage.difficulty %></td>
    <td><%=h runner.name %></td>
    <td align='center'>TBD</td>
    <td></td>
    <td align='center'><%=h runner.runner_status_code.short_code %></td>
    <td></td>
    <td></td>
    <td><%= runner.actual_time.strftime("%H:%M:%S") %></td>
  </tr>
<% end %>
</table>

<br />
</div>

