<h1>Listing stages</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Landmark</th>
      <th>Miles</th>
      <th>Difficulty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stages.each do |stage| %>
      <tr>
        <td><%= stage.number %></td>
        <td><%= stage.landmark %></td>
        <td><%= stage.miles %></td>
        <td><%= stage.difficulty %></td>
        <td><%= link_to 'Show', stage %></td>
        <td><%= link_to 'Edit', edit_stage_path(stage) %></td>
        <td><%= link_to 'Destroy', stage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stage', new_stage_path %>

<p>
  Download:
  <%= link_to "CSV", stages_path(format: "csv") %> |
  <%= link_to "Excel", stages_path(format: "xls") %>
</p>
<br>

<h2>Import stages</h2>

<%= form_tag import_stages_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
