<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @stage.number %>
</p>

<p>
  <strong>Landmark:</strong>
  <%= @stage.landmark %>
</p>

<p>
  <strong>Miles:</strong>
  <%= @stage.miles %>
</p>

<p>
  <strong>Difficulty:</strong>
  <%= @stage.difficulty %>
</p>

<%= link_to 'Edit', edit_stage_path(@stage) %> |
<%= link_to 'Back', stages_path %>
