<h1>Listing support_status_codes</h1>

<table>
  <thead>
    <tr>
      <th>Sequence</th>
      <th>Short code</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @support_status_codes.each do |support_status_code| %>
      <tr>
        <td><%= support_status_code.sequence %></td>
        <td><%= support_status_code.short_code %></td>
        <td><%= support_status_code.description %></td>
        <td><%= link_to 'Show', support_status_code %></td>
        <td><%= link_to 'Edit', edit_support_status_code_path(support_status_code) %></td>
        <td><%= link_to 'Destroy', support_status_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Support status code', new_support_status_code_path %>
