<p>
  <b>Sequence:</b>
  <%=h @support_status_code.sequence %>
</p>

<p>
  <b>Short code:</b>
  <%=h @support_status_code.short_code %>
</p>

<p>
  <b>Description:</b>
  <%=h @support_status_code.description %>
</p>


<%= link_to 'Edit', edit_support_status_code_path(@support_status_code) %> |
<%= link_to 'Back', support_status_codes_path %>