<p id="notice"><%= notice %></p>

<p>
  <strong>Short code:</strong>
  <%= @stage_status_code.short_code %>
</p>

<p>
  <strong>Description:</strong>
  <%= @stage_status_code.description %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @stage_status_code.sequence %>
</p>

<p>
  <strong>Runner status code:</strong>
  <%= @stage_status_code.runner_status_code_id %>
</p>

<%= link_to 'Edit', edit_stage_status_code_path(@stage_status_code) %> |
<%= link_to 'Back', stage_status_codes_path %>
