<!DOCTYPE html>
<html>
<head>
  <title>Stageorders</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="stageorders">
  <div id="header">
    <img src="/assets/logo.png">
    <div id="title">
    <%= @page_title || "Stage Orders" %>
    </div>
  </div>
  <div id="side">
    <ul>
      <li><a href="/results">Results</a></li>
      <li><a href="http://mojaverats.com">Website</a></li>
    </ul>
    <% if user_signed_in? %>
    <hr>
    <strong>Admin</strong>
    <ul>
      <li><a href="/stage_statuses">CP Dashboard</a></li>
      <li><a href="/status">Runner Status</a></li>
    <ul>
    <hr>
    </ul>
      <li><a href="/runners">Runners</a></li>
      <li><a href="/runner_status_codes">Runner Codes</a></li>
      <li><a href="/teams">Teams</a></li>
      <li><a href="/stages">Stages</a></li>
      <li><a href="/stage_status_codes">Stage Codes</a></li>
    </ul>
    <% end %>
  </div>

  <div id="main">
    <div id="userNav">
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>

  <div id="footer">
    Copyright 2010-2014 MojaveRATS
  </div>
</body>
</html>
