<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Stage Status: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'stageorders' %>
  <%= javascript_include_tag :defaults %>
</head>
<body id="status">
<div id="header">
  <img src="/images/logo.png">
  <div id="title">
  <%= @page_title || "Stage Orders" %>
  </div>
</div>
<div id="side">
  <a href="/results">Results</a><br />
  <a href="/status">Status</a><br />
  <a href="http://mojaverats.com">Website</a><br />
</div>

<div id="twitter">
  <p>
  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
  <script>
  new TWTR.Widget({
    version: 2,
    type: 'profile',
    rpp: 4,
    interval: 60,
    width: 200,
    height: 300,
    theme: {
      shell: {
        background: '#333333',
        color: '#ffffff'
      },
      tweets: {
        background: '#000000',
        color: '#ffffff',
        links: '#4aed05'
      }
    },
    features: {
      scrollbar: false,
      loop: false,
      live: true,
      hashtags: true,
      timestamp: true,
      avatars: false,
      behavior: 'all'
    }
  }).render().setUser('mojaverats').start();
  </script>
  </p>
</div>

<div id="main">
<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>
</div>

<div id="footer">
  Copyright 2010 MojaveRATS
</div>
</body>
</html>
