<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Stage Status: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'stageorders' %>
  <%= javascript_include_tag :defaults %>
</head>
<body id="status">
<div id="header">
  <img src="/images/logo.png">
  <div id="title">
  <%= @page_title || "Stage Orders" %>
  </div>
</div>
<div id="side">
  <a href="/status">Status</a><br />
  <a href="/results">Results</a><br />
  <a href="http://mojaverats.com">Website</a><br />
</div>

<div id="main">
<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>
</div>

<div id="footer">
  Copyright 2010 MojaveRATS
</div>
</body>
</html>
